@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

@theme {
  /* Fonts */
  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Sora', sans-serif;


  /* Colors */
  --color-background: #151718;
  --color-logo: #9024C9;
  --color-subtext: #928C98;



  --breakpoint-xs: 30.75rem;
}


.bg {
  background-color: #1517188d;
}